@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header {
    background-color: #3b63b6;
    padding: 6px;
}

header p {
    display: inline-flex;
    margin: 24px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

img {
    width: 400px;
}

h2 {
    font-size: 48px;
}

button.botao-padrao {
    padding: 15px 30px;
    border-radius: 20px;
    border: 1px solid #3b63b6;
    background-color: #3b63b6;
    color: #ffffff;
}