@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header {
    background-color: #3b63b6;
    padding: 6px;
}

header p {
    display: inline-flex;
    margin: 24px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 48px;
}

img {
    width: 400px;
}

h2 {
    font-size: 48px;
    margin: 12px 0;
}

button.botao-padrao {
    padding: 18px 48px;
    border-radius: 40px;
    border: 1px solid #3b63b6;
    background-color: #3b63b6;
    color: #ffffff;
    margin-top: 24px;
    font-size: 16px;
}

hr {
    border: 1px solid #c4c4c4;
}

footer {
    padding: 36px;
}

footer p {
    text-align: center;
    color: #c4c4c4;
    font-size: 14px;
}